[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = ../../robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-completions"]
	path = oh-my-zsh-custom/plugins/zsh-completions
	url = ../../zsh-users/zsh-completions.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = ../../zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/plugins/autoenv"]
	path = oh-my-zsh-custom/plugins/autoenv
	url = ../../horosgrisa/autoenv.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = ../../romkatv/powerlevel10k.git
